*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #4CB963;;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #E0F2E9;
  letter-spacing: 2px;
}
.container{
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
}
.active{
  display: block;
}

/* ******************************************************************* */

header{
  background: #694D75;
  min-height: 70px;
}
header .container{
  position: relative;
  width: 100%;
}
header .logo{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
header ul{
  list-style-type: none;
  display: none;
}
header ul li {
  text-align: center;
  padding: 10px;
  margin-bottom: 2px;
}
header ul li a{
  text-decoration: none;
  color: #E0F2E9;
  display: block;
}
header ul li:hover{
  font-weight: bolder;
  padding-bottom: 10px;
  background: #157F1F;
}
.logo-img{
  opacity: 0.7;
  width: 80vw;
  max-width: 600px;
  margin: 20px 0;
}
.togglebar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.togglebar img{
  width: 30px;
}
.logo a span{
  transition: 0.5s ease-in-out;
}
.logo img{
  height: 40px;
  width: 50px;
}
.logo a{
  text-decoration: none;
  font-size: 2rem;
  color: #E0F2E9;
} 
.logo a span:hover{
  font-weight: bolder;
}
/* End of header */


main{
  flex: 1;
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.signup, .signin{
  margin: 20px 0;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  border: #E0F2E9 solid 2px;
  padding: 20px;
  background: #134611;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
  overflow: auto;
}
.form:hover{
  border: 4px solid #E0F2E9;
}
.form img{
  width: 70px;
  border-radius: 50%;
  background: #E0F2E9;
  display: block;
}
.form h2{
  text-align: center;
  margin: 15px;
}
.form form{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 30vh;
  
}
.form-field{
  background: transparent;
  padding: 10px;
  border: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #E0F2E9;
  color: #E0F2E9;
  transition: 0.6s;
}
.form-field:hover{
  border: 1px solid #E0F2E9;
  border-radius: 5px;
}
#reset-pwd .form-field::placeholder{
  text-align: center;
}
::placeholder{
  color: #E0F2E9;
}
.remember-me{
  padding: 20px 0;
  font-size: 0.9rem;
}
.chkbox{
  margin-right: 3px;
  display: inline-block;
}
.form-submit-button{
  border-radius: 5px;
  padding: 8px 0;
  background: transparent;
  color: #E0F2E9;
  border: 2px solid #E0F2E9;  
  transition: .5s;
}
.form-submit-button:hover, .admin-login:hover{
  background: #E0F2E9;
  color: #134611;
  cursor: pointer;
}
.admin-login{
  text-decoration: none;
  color: #E0F2E9;
  border: #E0F2E9 solid 2px;
  width: 100%;
  border-radius: 5px;
  padding: 7px 0;
  text-align: center;
  margin-top: 15px;
  font-size: 0.8rem;
}

.forgot-password{
  text-align: center;
  color: #E0F2E9;
  text-decoration: none;
  transition: 0.6s;
  font-size: 0.8rem;
}
.forgot-password:hover{
  text-decoration: underline;
}

#vote-submit{
  padding: 10px 20px;
  background: #694D75;
  color: #E0F2E9;
  width: 150px;
  align-self: center;
  margin: 10px 0;
  border: 2px solid #E0F2E9;
  transition: 0.7s;
  cursor: pointer;
  border-radius: 5px;
  }
#vote-submit:hover{
  background: #E0F2E9;
  color: #694D75;
  border: 2px solid #694D75;
}

/* User ends here */

footer{
  text-align: center;
  font-size: 0.9rem;
  background: #694D75;
  color: #E0F2E9;
  min-height: 40px;
  padding-top: 10px;
}
/* End of footer */
/* Javascript */
.danger-alertbox{
  color: #B73E23;
  background: rgb(231, 180, 171);
  text-align: center;
  height: 7vh;
  top: 10vh;
  width: 60%;
  position: absolute;
  align-self: center;
  justify-self: center;
  display: none;
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 1px;
}

/* ******** Media queries ************* */
@media (min-width: 650px) {
  .container{
    max-width: 1200px;
  }
  .togglebar {
    display: none;
  }
  header .container {
    display: flex;
    width: 90%;
  }
  header .logo{
    flex: 1;
  }
  header ul {
    display: flex;
  }
  header #js-nav{
    padding-top: 15px;
  }
  header ul li:hover{
    font-weight: bolder;
    transition: 0.6s;
    background: none;
    border-bottom: 2px solid #134611;
  }
}